<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= corpus.title %> - Workload Inducer</title>
  <meta name="description" content="<%= corpus.title %>">
  <meta name="author" content="Workload Inducer">
</head>
<body>
  <h1><%= corpus.title %></h1>
  <%= corpus.text %>
</body>
</html>