<!DOCTYPE html>
<html>
<head>
  <title>RsBenchmark</title>
  <%= stylesheet_link_tag    "rs_benchmark/application", :media => "all" %>
  <%= javascript_include_tag "rs_benchmark/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
